* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--light);
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
